@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <p>Comunicate con el administrador para que te cree un usuario</p>
</div>
